@model List<DoAn1.ViewModels.CSProductViewModel>

<h2>@ViewBag.Ordermess</h2>
<h1>Danh sách sản phẩm</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Tên tiệm</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="Customer/InforProduct?ProductId=@item.ProductId">@item.ProductName</a>
                    </td>
                    <td>
                        @item.AgentName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @string.Format("{0:0,0}VND", item.Unitprice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>